/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(27,0,4);
  background: linear-gradient(
   90deg,
   rgba(27,0,4,1) 52%,
   rgba(27,0,4,1) 59%,
   rgba(255,0,0,1) 100%);

}*/
@keyframes bgcolor {
    0% {
        background:linear-gradient(90deg,rgba(27,0,4,1) 52%,rgba(27,0,4,1) 59%,rgba(255,0,0,1) 100%);
    }

    30% {
        background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    }

    60% {
        background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    }

    90% {
        background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    }

    100% {
        background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-animation: bgcolor 10s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
